<nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3 headerMenu">
    <div class="container-fluid">
        <div class="d-flex w-100">
            <div class="d-flex">
                <NavLink class="nav-link link-dark" href="\">
                    <i class="bi bi-file-person">About me</i>
                </NavLink>
            </div>

            <div class="d-flex">
                <NavLink class="nav-link link-dark" href="Projects">
                    <i class="bi bi-code-square"> Projects</i>
                </NavLink>
            </div>


        </div>
    </div>
</nav>
