@inherits LayoutComponentBase
<head>
    <link rel="stylesheet"href="./css/app.css"/>
    <link rel="stylesheet" href="./Fonts/Helvetica Neue Regular.otf"/>



</head>

<div class="top-0">  
    <NavMenu></NavMenu>
</div>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

