@inherits LayoutComponentBase

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 headerMenu">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            Vitor Novo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

            <a class="nav-link text-dark" href="/Projects">Projects</a>


        </div>

    </div>
</nav>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>


